name: Build
on:
  push:
    branches:
      - feature/*

jobs:
  build:
    runs-on: ubuntu-24.04-arm
    env:
      ECR_REPOSITORY: halversondm/jolt-transform-web
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Setup Java JDK
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'

      - name: Setup Node.js environment
        uses: actions/setup-node@v2.4.1
        with:
          node-version: '22'

      - name: Build Code
        run: mvn -e --batch-mode clean install